In [1]:
import pandas as pd

In [2]:
admission = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Admission%20Chance.csv')

In [3]:
admission.head()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
admission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No          400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4    SOP               400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [5]:
admission.describe()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [8]:
admission.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [9]:
X=admission[['GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research']]

In [10]:
Y=admission['Chance of Admit ']

In [11]:
from sklearn.model_selection import train_test_split

In [33]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=.3,random_state=2529)

In [34]:
X_train

     GRE Score  TOEFL Score  University Rating   SOP  LOR   CGPA  Research
381        319          105                  3   3.0   3.5  8.67         1
48         321          110                  3   3.5   5.0  8.85         1
20         312          107                  3   3.0   2.0  7.90         1
296        310          107                  3   3.5   3.5  8.67         0
373        321          109                  3   3.0   3.0  8.54         1
..         ...          ...                ...   ...   ...   ...       ...
72         321          111                  5   5.0   5.0  9.45         1
228        318          112                  3   4.0   3.5  8.67         0
316        298          101                  2   1.5   2.0  7.86         0
50         313           98                  3   2.5   4.5  8.30         1
352        303          100                  2   3.0   3.5  8.06         1

[280 rows x 7 columns]

In [35]:
Y_train

381    0.73
48     0.82
20     0.64
296    0.76
373    0.79
       ...
72     0.93
228    0.71
316    0.54
50     0.76
352    0.64
Name: Chance of Admit , Length: 280, dtype: float64

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
model = LinearRegression()

In [38]:
model.fit(X_train,Y_train)

LinearRegression()

In [39]:
y_pred = model.predict(X_test)

In [40]:
from sklearn.metrics import mean_absolute_percentage_error

In [41]:
mse = mean_absolute_percentage_error(Y_test,y_pred)

In [42]:
mse

0.07575278864605443